<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <%= f.fields_for :custom_fields, OpenStruct.new(@contact.custom_fields) do |builder| %>
    <% @contact_custom_fields.each do |field| %>
      <%= render "contacts/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>
  <% end %>

  <div>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
