<%= javascript_include_tag 'contact_custom_fields', 'data-turbolinks-track' => true %>

<%= form_for(@contact_custom_field, html: {class: "form-horizontal"}) do |f| %>
  <% if @contact_custom_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_custom_field.errors.count, "error") %> prohibited this contact_custom_field from being saved:</h2>

      <ul>
      <% @contact_custom_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <% selected_option = @contact_custom_field.field_type %>
    <% options = options_for_select(
      [
        ['Text Field','text_field'], 
        ['Text Area', 'text_area'], 
        ['Combo Box', 'combo_box']
      ], selected_option) %>

    <%= f.label :field_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.select :field_type, options, {},  class: "form-control", onchange: 'setComboBoxOptionsVisibility(this.value)' %>
    </div>
  </div>
  
  <div id="combobox_options_group" class="form-group">
    <%= f.label :combobox_options, 'ComboBox options', class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_area :combobox_options, rows: 5, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit 'Save', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
